{
  "presets": [
    "@babel/preset-env",
    "@babel/preset-react",
    "@babel/preset-typescript"
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "root": [
          "."
        ],
        "alias": {
          "assets": "./src/assets",
          "components": "./src/components",
          "constants": "./src/constants",
          "hooks": "./src/hooks",
          "lib": "./src/lib",
          "styles": "./src/styles"
        }
      }
    ]
  ]
}
